@import url("navbar.css");

h3 {
    font-family: "Helvetica";
}


sub {
    color: rgb(128, 128, 128);
    font-size: small;
}

.separator {
    border-bottom: thin solid;
    border-bottom-color: rgb(200, 200, 200);
    margin-bottom: 40px;
    margin-top: 10px;
}

.date {
    font-family: "Helvetica";
    background-color: rgb(35, 35, 35);
    padding: 6px;
    color: rgb(245, 245, 245);
}

.color-box {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #ccc;

    left: 8px;
    top: 8px;
    right: 5px;
}

.load_comments {

}

.blog-main {
    margin-left: auto;
    margin-right: auto;
    width: 850px;
}

.comments {
    margin-top: 8px;
    display: none;
}

.comment_box {
    border-color: rgb(200, 200, 200);
    background-color: rgb(245, 245, 245);
    margin-bottom: 12px;
    padding: 6px;
    margin-left: 15px;
}

.comment_head {
    font-family: "Helvetica";
}

.comment_body {
    margin-top: 4px;
    font-size: large;
}


.post-image-large {
    width: 850px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.post-image-medium {
    width: 700px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.trifold {
    text-align: center;
    width: 100%;
    padding: 5px;
}

.trifold-content {
    width: 30%;
    height: auto;
    margin: 5px;
}

.label {
    padding: 2px;
    /* font-style: normal; */
    /* font-weight: 400; */
    /* font-family: "Helvetica"; */
    line-height: 1.25;
    color: rgb(35, 35, 35);
    text-align: center;
    margin-bottom: 40px;
    font-style: italic;
}

.title-link {
    color: black;
    text-decoration: none;
}

.title-link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 700px) {
    .trifold-content {
        width: 90%;
    }

    .post-image-large {
        width: 100%;
        height: auto;
    }
    .post-image-medium {
        width: 100%;
        height: auto;
    }
    .blog-main {
        margin-left: 5%;
        margin-right: 5%;
        width: auto;
    }
}

@media only screen and (max-width: 500px) {
    .post-image-large {
        width: 100%;
        height: auto;
    }
    .post-image-medium {
        width: 100%;
        height: auto;
    }
    .blog-main {
        margin-left: 5%;
        margin-right: 5%;
        width: auto;
    }
}
